<%- include('./partials/head') %>

  <header>
    <p>leerjaar 1 - 2023/24</p>
    <h1>Squad D</h1>
  </header>

  <main>

    <div class="container">
      <ul>
        <!-- loop waardoor dit li element voor elk persoon word herhaald -->
        <% persons.forEach(person=> { %>
          <li>
            <a href="./person/<%= person.id %>">
              <h2>
                <%=person.name %>
              </h2>
            </a>
            <div class="surname">
              <%=person.prefix %>
                <%=person.surname %>
            </div>
            <p class="nickname">
              <%=person.nickname %>
            </p>
            <img src="<%= (person.avatar == '') ? 'assets/placeholder.jpg' : person.avatar %>"
              onerror="this.src='assets/replace.jpeg'">
          </li>
          <% }) %>
      </ul>

    </div>

    <div class="buttons">

    </div>

    <div class="back-to-top">
      <button></button>
    </div>

    <%- include('./partials/foot') %>