<%- include('./partials/head') %>
  <div class="wrapper">

    <header>
      <p>leerjaar 1 - 2023/24</p>
      <h1>FDND</h1>
      <h1>Frontend Design & Development</h1>
    </header>

    <main>
      <div class="wrapper">

        <div class="filters">
          <a href="/" aria-label="Home">Home</a>
          <a href="/squad/3" aria-label="Squad D filter">Squad D</a>
          <a href="/squad/4" aria-label="Squad E filter">Squad E</a>
          <a href="/squad/5" aria-label="Squad F filter">Squad F</a>
        </div>

        <div class="container-wrapper">
          <div class="column-container">

            <% const endOfFirstColumn=Math.ceil(persons.length / 3); const endOfSecondColumn=Math.ceil(persons.length *
              2/3); const endOfThirdColumn=persons.length; %>

              <!-- column een -->
              <div class="column column-one">
                <% for(var i=0; i < endOfFirstColumn; i++) { %>
                  <a href="./person/<%= persons[i].id %>">
                    <article class="profilecard hexagon">
                      <h2>
                        <%=persons[i].name %>
                      </h2>

                  <!-- <p class="nickname">
                      <%=persons[i].nickname %>
                    </p> -->

                  <p class="surname">
                    <%=persons[i].prefix %>
                      <%=persons[i].surname %>
                  </p>

                  <img src="<%= (persons[i].avatar == '') ? 'assets/placeholder.jpg' : persons[i].avatar %>"
                    onerror="this.src='assets/replace.jpeg'" alt="avatar">

                  </article>
                  </a>
                  <% } %>
              </div>

              <!-- column twee -->
              <div class="column column-two">
                <% for(var i=endOfFirstColumn; i < endOfSecondColumn; i++) { %>
                  <a href="./person/<%= persons[i].id %>">
                    <article class="profilecard hexagon">
                      <h2>
                        <%=persons[i].name %>
                      </h2>

                  <!-- <p class="nickname">
                      <%=persons[i].nickname %>
                    </p> -->

                  <p class="surname">
                    <%=persons[i].prefix %>
                      <%=persons[i].surname %>
                  </p>

                  <img src="<%= (persons[i].avatar == '') ? 'assets/placeholder.jpg' : persons[i].avatar %>"
                    onerror="this.src='assets/replace.jpeg'" alt="avatar">
                  </article>
                  </a>
                  <% } %>
              </div>

              <!-- column drie -->
              <div class="column column-three">
                <% for(var i=endOfSecondColumn; i < endOfThirdColumn; i++) { %>
                  <a href="./person/<%= persons[i].id %>">
                    <article class="profilecard hexagon">
                      <h2>
                        <%=persons[i].name %>
                      </h2>

                  <!-- <p class="nickname">
                      <%=persons[i].nickname %>
                    </p> -->

                  <p class="surname">
                    <%=persons[i].prefix %>
                      <%=persons[i].surname %>
                  </p>

                  <img src="<%= (persons[i].avatar == '') ? 'assets/placeholder.jpg' : persons[i].avatar %>"
                    onerror="this.src='assets/replace.jpeg'" alt="avatar">
                  </article>
                  </a>
                  <% } %>
              </div>
              <button class="scroll-btn" onclick="topFunction()">BACK TO TOP</button>

          </div>
        </div>

    </main>

    <%- include('./partials/foot') %>